<% @title = 'Authenticate' %>

<section>
  <p>Basic Sinatra app to demonstrate OAuth 2 authentication at <a
    href="https://cosm.com">Cosm</a>.</p>
</section>

<section>
  <a href="/oauth/authorize">Install app</a>
</section>
