<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
  More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Cosm Feed Viewer - Basic OAuth Example</title>
  <meta name="description" content="Cosm Feed Viewer - Basic OAuth Example">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <link rel="stylesheet" href="css/style.css">

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build.
  Modernizr enables HTML5 elements & feature detects for optimal performance.
  Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="js/vendor/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <header>
    <h1>Cosm Feed Viewer - Basic OAuth Example</h1>
    <p>This demo can be found on Github at <a
      href="https://github.com/smulube/cosm_oauth_demo">https://github.com/smulube/cosm_oauth_demo</a>,
    and is a very simple example of a Ruby server app that uses the <a
      href="https://github.com/smulube/cosm_oauth">cosm_oauth</a> gem to access
    resources on <a href="https://cosm.com">Cosm</a> using OAuth.</p>
  </header>

  <div role="main" class="container">
    <h4><%= @title %></h4>

    <%= styled_flash %>

    <%= yield %>

  </div>

  <footer>

  </footer>
</body>
</html>
